body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    line-height: 70%;
    color:rgb(90, 87, 87);
    
}

footer{
    color: rgb(187, 185, 185);
    font-size: 0.9em;
    padding-top: 15px;
}


.pricing{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}


.fees{
    width: 20%;
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 5px 7px 30px gray;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 30px
}

.pricing .flex{
    margin-left: 370px;
}

.yearly{
    margin-left: 40px;
}

.button{
    color: white;
    padding: 20px 38px;
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    position: absolute;
    margin-top: 30px;
}



.flex{
    display: flex;
}

.half-width{
    width: 50%;
    
}

.orange{
    color: orange;
}

.about-me{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 90px;
    color: gray;
}

.recipe-intro{
    text-align: center;
    margin-left: 367px;
    margin-right: 367px;
    margin-bottom: 38px;
    padding-top: 40px;
    color: gray;
}



.recipe{
    width: 25%;
    border: 15px solid white;
    border-radius: 20px;
    /* margin-right: 54px; */
    box-shadow: 5px 7px 40px gray;
}

.recipe img{
  width: 100%;

}

.trial{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    justify-content: center;
}

.footer{
    color: rgb(112, 110, 110);
    background-color: rgb(24, 23, 23);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    
}

.free-trial{
    color: black;
    border-radius: 5px;
    background: rgba(151, 169, 172, 0.884);
    padding: 10px 40px;
    text-decoration: none;
    text-align: center;
    width: 15%;
    /* margin-left: 400px; */
}

.demo{
    margin-left: 20px;
    background: rgb(238, 234, 234);
}

#top-sec{
    padding: 100px;
    color:gray;
}

#top-sec img{
    width: 90%;
}

#owner {
    background-image: url(images/shapes/7.png);
    background-size:cover;
}

#owner img{
    padding-left: 100px;
    width: 50%;
    display: block;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

#three-recipes{
    padding-left: 101px;
    padding-right: 100px;
    justify-content: center;
    margin-bottom: 80px;
}

#mid-recipe{
    margin-left: 54px;
    margin-right: 54px;
}





